/* Game screen width? */

@font-face {
  font-family: 'fft';
  src: url(fonts/fft.ttf) format('truetype');
}

:root {
  --pale: #a49d83;
  --name-color: #5b2b17;
  --letter-color: #362c20;
  --letter-shadow: #837d67;
}

html {
  font-family: 'fft';
}

h1 {
  font-size: 80px;
  letter-spacing: 1.5px;
  font-weight: 300;
  line-height: 1px;
}

#speech {

}

.dialogue-box h2 {
  color: var(--name-color);
  margin-top: 34px;
  text-shadow: 2px 2px var(--letter-shadow);
  font-size: 70px;
  letter-spacing: 1.5px;
  font-weight: 300;
  line-height: 1px;
}

.dialogue-box {
  background-color: var(--pale);
  /* add papery image */
  box-shadow: 7px 7px #1b1a18;
  padding: 30px;
  border: 2px solid #21180f;
  border-radius: 2.4px;
  max-width: 65%;
}

.dialogue-box p {
  text-shadow: 2px 2px var(--letter-shadow);
  margin: 0;
  margin-top: -40px;
  color: var(--letter-color);
  font-size: 70px;
  letter-spacing: 1.5px;
}

.game-text {
  color: var(--letter-color);
  font-size: 70px;
  letter-spacing: 1.5px;
  text-shadow: 2px 2px var(--letter-shadow);
}

.status-bottom {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 300px;
  background-color: var(--pale);
  /* add papery image */
  box-shadow: 7px 7px #1b1a18;
  padding: 30px;
  border: 2px solid #21180f;
  border-radius: 2.4px;
  max-width: 85%;
}

.status-mid {
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: 30% 30% 30%;
  background-color: var(--pale);
  /* add papery image */
  box-shadow: 7px 7px #1b1a18;
  padding: 30px;
  border: 2px solid #21180f;
  border-radius: 2.4px;
  max-width: 85%;
  margin-bottom: 15px;
}

.status-top {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 90px;
  background-color: var(--pale);
  /* add papery image */
  box-shadow: 7px 7px #1b1a18;
  padding: 30px;
  border: 2px solid #21180f;
  border-radius: 2.4px;
  max-width: 85%;
  margin-bottom: 15px;
}

#character {
  font-size: 70px;
  padding-left: 12px;
}

.mid-stats {
  font-size: 40px;
}

.menu-box {
  background-color: var(--pale);
  /* padding: 0px 22px; */
  /* add papery image */
  box-shadow: 7px 7px #1b1a18;
  border: 2px solid #21180f;
  border-radius: 2.4px;
  max-width: 11.5vw;
}

.menu-box li {
  list-style-type: none;
}

.menu-box li a {
  list-style-type: none;
  text-decoration: none;
  color: var(--letter-color);
}

#main-char-menu-modal {
  position: absolute;
  z-index: 1;
  top: 57%;
  left: 76%;
}

.bg-menu {
  background-color: #6a737b !important;
}

.worldmap {
  background-image: url('images/ivalice.png');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#worldmap-screen {
  padding: 0;
  margin: 0;
}

#main-menu-modal {
  position: absolute;
  z-index: 1;
  top: 4%;
  left: 4%;
}

.visible {
  display: block !important;
}

.hidden {
  display: none;
}
